@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background-image: url("/workspaces/Miami88-Domain-Generator-Oliver-Simkovsky-Fork/src/assets/img/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
