@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background-image: url("/workspaces/Miami88-Domain-Generator-Oliver-Simkovsky-Fork/src/assets/img/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#myUl{
    animation: spin 1s linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
